@media only screen and (max-width: 650px) {
  .button-container, .form-container, .headline {
    width: 90%; } }

@media only screen and (min-width: 650px) {
  .button-container, .form-container, .headline {
    width: 30%; } }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f8f4; }

.button-container {
  padding: 1em 1em 0 1em;
  margin: 2em 2em 0 2em; }

.facebook-button {
  width: 100%;
  height: 3em;
  border-radius: .4em;
  background-color: #315c99;
  color: #ffffff; }

h1 {
  font: .3em sans-serif;
  text-align: center;
  text-transform: uppercase; }

h1.background {
  position: relative;
  z-index: 1; }

h1.background:before {
  border-top: 1px solid #000000;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1; }

h1.background span {
  background-color: #f7f8f4;
  padding: 0 .5em; }

.form-container {
  background-color: #ffffff;
  padding: 1em;
  margin: 0 2em 2em 2em;
  border-radius: .7em; }

.input-container {
  margin-bottom: 1em;
  display: flex;
  height: 2em; }

h2 {
  font: .8em sans-serif; }

.input-container .input-icon {
  box-sizing: border-box;
  border: 1px solid #dddddd;
  width: 35px;
  height: 100%;
  border-radius: 5px 0 0 5px; }

.input-container input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  padding: 1em;
  border-radius: 0 5px 5px 0; }
