@media only screen and (max-width: 650px) {
  .facebook-button-container, .headline, .form-container, .footer-container {
    width: 90%;
  }
}

@media only screen and (min-width: 650px) {
  .facebook-button-container, .headline, .form-container, .footer-container {
    width: 30%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f8f4;
}

.facebook-button-container {
  padding: 1em 1em 0 1em;
  margin: 2em 2em 0 2em;
}

.facebook-button {
  width: 100%;
  height: 3em;
  border-radius: .4em;
  background-color: #315c99;
  color: #ffffff;
}

h1 {
  font: .3em sans-serif;
  text-align: center;
  text-transform: uppercase;
}

h1.background {
  position: relative;
  z-index: 1;
}

h1.background:before {
  border-top: 1px solid #000000;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

h1.background span {
  background-color: #f7f8f4;
  padding: 0 .5em;
}

.form-container {
  background-color: #ffffff;
  padding: 1em;
  margin: 0 2em 2em 2em;
  border-radius: .7em;
}

.input-container {
  margin-bottom: 1em;
  display: flex;
  height: 2em;
}

h2, p {
  font: .6em sans-serif;
}

.input-container .input-icon {
  box-sizing: border-box;
  border: 1px solid #dddddd;
  height: 100%;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  padding: 1em;
  border-radius: 0 5px 5px 0;
}

input.password {
  border-radius: 0;
}

.input-with-checkbox {
  border: 1px solid #dddddd;
  border-radius: 0 5px 5px 0;
  width: 100px;
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  width: 10px;
  height: 10px;
  padding: 0;
}

.privacy-policy-container {
  display: flex;
  align-items: flex-start;
  margin: 1em;
}

.privacy-policy-container p {
  margin: 0;
}

.checkbox-container {
  display: flex;
  margin-top: 0;
}

.checkbox-container input {
  margin-top: 0;
}

.submit-button {
  background-color: #739c0d;
  width: 100%;
  height: 3em;
  border-radius: .4em;
  color: #ffffff;
}

.footer-container {
  border-top: 1px solid #000000;
  padding-top: 1em;
  text-align: center;
}
